%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "/favicon.png", rel: "shortcut icon", type: "image/png"}/
    = csrf_meta_tags
    %title Cryptopus
    %link{href: "/styles.css", rel: "stylesheet"}/
    %script{src: "/application.js"}
  %body{"data-locale" => I18n.locale}
    #ember.wrapper
    #content
      .content Recrypt in progress...





